#header>.container{
    display: block;
}
#header>.header-r{
    display: none;
}
.nav-t{
    display: none;
}
.nav-p{
    display: none;
}

#section{
    width: 100%;
    margin-top: 50px;
}
/* 메인 스와이퍼 */
.main-slide{
    width: 1440px;
    margin: 0 auto;
}
.main-slide .swiper {
    width: 100%;
    height: 100%;
}

.main-slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slide .swiper-button-next, .swiper-button-prev{
    width: 28px;
    height: 51px;
}
.main-slide .swiper-button-prev{
    background: url('../img/main_visual_prev.png') no-repeat center/cover;
}
.main-slide .swiper-button-prev::after{
    display: none;
}
.main-slide .swiper-button-next{
    background: url('../img/main_visual_next.png') no-repeat center/cover;
}
.main-slide .swiper-button-next::after{
    display: none;
}
.main-slide .swiper-slide a .main-slide-w{
    display: block;
}
.main-slide .swiper-slide a .main-slide-s{
    display: none;
}
.main-slide .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom{
    bottom: 30px;
    right: 0;
    left: auto;
    width: 202px;
}
.main-slide .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #8a8a89;
    background-color: #fff;
    opacity: 1;
    margin: 0 6px;
}
.main-slide .swiper-pagination-bullet-active{
    background: #3f0b9f;
    border: 1px solid #3f0b9f;
}
/* SECtion1 */
.section1{
    width: 100%;
    height: 135px;
}
.section1>.container{
    margin-top: 30px;
    clear: both;
}
.s1-left{
    width: calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    height: 100%;
    /* background-color: lightpink; */
    float: left;
    border-bottom: 3px solid #000;
    padding: 12px 0 35px 0;
}
.s1L{
    height: 36px;
    line-height: 36px;
}
.s1L:first-child{
    margin-bottom:15px;
}
.s1L img{
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
}
.s1L h4{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
.s1L strong{
    font-size: 18px;
    color: #222;
    font-weight: bold;
    margin: 0 15px;
}
.s1L span{
    font-size: 18px;
    color: #222;
}
.s1L>div{
    display: inline-block;
}
.s1-right{
    width: 280px;
    height: 100%;
    margin-left: 20px;
    /* background-color: gold; */
    float: right;
}
.s1r{
    border-bottom: 3px solid #3F0B9F;
    display: inline-block;
    padding: 8px 5px 28px 5px;
    margin-top: 50px;
    position: relative;
}
.s1r:first-child{
    margin-right: 16px;
}
.s1r a{
    font-size: 32px;
    color: #3F0B9F;
    font-weight: bold;
    transition: all 0.3s;
}
.s1r::after{
    content: '';
    display: block;
    height: 0;
    background-color: #3F0B9F;
    width: 100%;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.s1r:hover:after{
    height: 100%;
}
.s1r:hover a{
    color: #fff;
}

/* SECTION2 */
.section2{
    width: 100%;
    height: auto;
    /* background-color: lightgoldenrodyellow; */
    margin: 70px auto;
}
.section2 .section2-top{
    position: relative;
}
.section2 .section2-top h2{
    font-size: 46px;
    font-weight: bold;
    display: inline-block;
}
.section2-top .swiper-button-next{
    top: 50px;
    position: absolute;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_next.png') no-repeat center;
}
.section2-top .swiper-button-next::after, 
.section2-top .swiper-button-prev::after
{
    display: none;
}
.section2-top .swiper-button-prev{
    top: 50px;
    left: auto;
    right: 60px;
    position: absolute;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_prev.png') no-repeat center;
}
.section2-top .swiper-controller{
    width: 10px;
    height: 17px;
    /* background-color: red; */
    background: url('../img/btn_swiper_play.png') no-repeat center;
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
}
.section2-top .swiper-controller.pause{
    background: url('../img/btn_swiper_stop.png') no-repeat center;
}

.sub-slide .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.sub-slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.sub-slide-img{
    width: 100%;
    height: 450px;
    position: relative;
}
.sub-slide-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.sub-slide-img-h{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all 0.3s;
}
.sub-slide-img-h p{
    color: #fff;
    font-size: 30px;
}
.sub-slide-img:hover .sub-slide-img-h{
    opacity: 1;
}

.sub-slide-txt{
    margin-top: 30px;
    text-align: left;
}
.sub-slide-txt span{
    padding: 5px 15px;
    border: 1px solid #222;
    font-size: 16px;
    margin-bottom: 18px;
    display: inline-block;
}
.sub-slide-txt .span-black{
    background-color: #222;
    color: #fff;
}
.sub-slide-txt a{
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.sub-slide-txt a:hover{
    text-decoration: underline;
}
.sub-slide-txt p{
    font-size: 16px;
    color: #666;
}
/* SECTION3 */
.section3{
    width: 100%;
    height: auto;
}
.section3>.container{}
.s3-top{
    width :100%;
    margin-bottom: 40px;
}
.s3-top img{
    width: 27px;
    height: 42px;
    display: inline-block;
    vertical-align:text-bottom;
    margin-right: 15px;
}
.s3-top h3{
    font-size: 46px;
    display: inline-block;
    font-weight: bold;
}
.s3-bottom{
    width: 100%;
}
.s3-bottom::after{
    display: block;
    content: '';
    clear: both;
}
.s3-left{
    width: calc(50% - 1%);
    width: -moz-calc(50% - 1%);
    width: -webkit-calc(50% - 1%);
    height: 430px;
    /* background-color: pink; */
    float: left;
    margin-right: 2%;
    border-bottom: 1px solid #000;
}
.s3-tab-nav{
    width: 100%;
    height: 60px;
}
.s3-tab-nav li{
    width: 25%;
    border-bottom: 1px solid #2c2c2c;
    float: left;
}
.s3-tab-nav li a{
    font-size: 24px;
    display: inline-block;
    width: 100%;
    height: 60px;
    color: #666;
    text-align: center;
    line-height: 60px;
}
.s3-tab-nav li a.active{
    border-bottom: 4px solid #222;
    font-weight: bold;
    color: #222;
}
.s3-tab-content{}
.s3-tab-content div{}
.s3-tab-content div ul{}
.s3-tab-content div ul li{
    display: block;
    width: 100%;
    padding: 28px 0;
}
.s3-tab-content div ul li a{
    position: relative;
    padding-left: 35px;
    font-size: 18px;
    color: #222;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    width: calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
}
.s3-tab-content div ul li a:hover{
    text-decoration: underline;
}
.s3-tab-content div ul li a::before{
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    left: 15px;
    top: 10px;
}
.s3-tab-content div ul li span{
    font-size: 18px;
    color: #7c7c7c;
    float: right;
}

.s3-right{
    height: 430px;
    /* background-color: lightsalmon; */
    width: calc(50% - 1%);
    width: -moz-calc(50% - 1%);
    width: -webkit-calc(50% - 1%);
    float: left;
}
/* SECTION3 SWIPER */
.s3-right .swiper{
    width: 100%;
    height: 100%;
}
.s3-right .swiper-wrapper{}
.s3-right .swiper-slide{}
.s3-right .swiper-slide img{
    width: 100%;
    height: 100%;
}
.s3-right .swiper-pagination{
    float: right;
    width: 120px;
}
.s3-right .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #8a8a89;
    background-color: #fff;
    opacity: 1;
    margin: 0 6px;
}
.s3-right .swiper-pagination-bullet-active{
    background: #3f0b9f;
    border: 1px solid #3f0b9f;
}

.section4{
    width: 100%;
    height: 700px;
    margin-top: 50px;
    /* margin-bottom: 80px; */
    /* background-color: orange; */
}
.section4>.container{}
.s4-left{
    width: 26%;
    height: 100%;
    /* background-color: skyblue; */
    float: left;
}
.s4-left h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.s4-left>a>img{
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    margin-bottom: 40px;
}
.s4-left>a{
    font-size: 24px;
    font-weight: 500;
}
.s4-left>a:hover{
    text-decoration: underline;
}
.s4-mid{
    width: 22%;
    margin: 0 3%;
    height: 100%;
    /* background-color: lightcoral; */
    float: left;
    position: relative;
}
.s4-mid h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.s4-imgbox{}
.s4-imgbox img{
    width: 100%;
}
.s4-txtbox{
    margin: 40px 0 20px 0;
}
.s4-txtbox a{
    font-size: 24px;
    font-weight: 500;
}
.s4-txtbox a:hover{
    text-decoration: underline;
}
.s4-txtbox span{
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

.s4-mid .swiper-button-prev{
    position: absolute;
    top: 35px;
    right: 60px;
    left: auto;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_prev.png') no-repeat center;
}
.s4-mid .swiper-button-next{
    position: absolute;
    top: 35px;
    right: 0;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_next.png') no-repeat center;
}
.s4-mid .swiper-button-prev::after,
.s4-mid .swiper-button-next::after{
    display: none;
}
.s4-mid .swiper-pagination{
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    width: 50px;
    height: 20px;
    font-size: 16px;
}

.s4-right{
    width: 46%;
    height: 100%;
    /* background-color: lightgreen; */
    float: left;
    position: relative;
}
.s4-right h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.s4-top2 .swiper-button-prev{
    position: absolute;
    top: 35px;
    right: 70px;
    left: auto;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_prev.png') no-repeat center;
}
.s4-top2 .swiper-button-next{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 10px;
    height: 19px;
    background: url('../img/btn_swiper_next.png') no-repeat center;
}
.s4-top2 .swiper-button-prev::after,
.s4-top2 .swiper-button-next::after{
    display: none;
}

.s4-top2 .swiper-pagination{}
.s4-top2 .swiper-pagination-fraction{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    left: auto;
    font-size: 16px;
}
.s4r-imgbox{
    width: 100%;
    height: 386px;
    background-color:rgba(0,0, 0, 0.03);
    position: relative;
}
.s4r-imgbox a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s4r-imgbox a::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 20;
    width: 82px;
    height: 82px;
    background: url('../img/ico_video.png') no-repeat center/cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s4r-imgbox a img{
    height: 100%;
}
.s4r-txtbox{
    margin: 40px 0 20px 0;
}
.s4r-txtbox a{
    font-size: 24px;
    font-weight: bold;
}
.s4r-txtbox a:hover{
    text-decoration: underline;
}

#footer-wrap{
    clear: both;
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    padding: 75px 0 60px 0;
}

.footer-menu{
    width: 100%;
    height: 520px;
    padding-top: 75px;
    padding-bottom: 60px;
    border: 1px solid #c8c8c8;
    /* background-color: lightpink; */
}
.fm-depth1{}
.fm-depth1>li{
    width: 12%;
    float: left;
    word-break: keep-all;
}
.fm-depth1>li>a{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}
.fm-depth1>li>a:hover{
    text-decoration: underline;
}
.fm-depth1>li:last-child{
    margin-left: 4%;
}
.fm-depth2{}
.fm-depth2>li{}
.fm-depth2>li>a{
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 15px;
}
.fm-depth2>li>a:hover{
    text-decoration: underline;
}

.fm-last{}
.fm-last>li{}
.fm-last>li>a{
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.footer-bottom{
    width: 100%;
    height: 260px;
    /* background-color: lightyellow; */
    margin: 55px 0;
}
.footer-bottom>.container{
    display: flex;
}
.fb-box1{
    width: 25%;
    /* background-color: greenyellow; */
}
.fb-box1 a{
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}
.fb-box1 a:hover{
    text-decoration: underline;
}
.fb-box2{
    width: 25%;
    /* background-color: lightsalmon; */
}
.fb-box2>ul>li{
    width: 220px;
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
    position: relative;
}
.fb-box2>ul>li>a{
    font-size: 16px;
    display: block;
    padding: 15px 10px;
}
.fb-box2>ul>li>a::after{
    content: '';
    display: block;
    width: 22px;
    height: 12px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: url('../img/ico_lg_black_open.png') no-repeat center/contain;
}
.fb-box2>ul>li.on{
    background-color: #000;
}
.fb-box2>ul>li.on>a{
    color: #fff;
}
.fb-box2>ul>li.on>a:after{
    background: url('../img/ico_down_white_img.png') no-repeat center/contain;
}
.fbb2-black{
    display: none;
    overflow: hidden;
    padding: 20px;    
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 54px;
    left: 0;
    background-color: #000;
}
.fbb2-black>li{
    margin: 10px 0;
    text-align: center;
}
.fbb2-black>li>a{
    color: #ccc;
    font-size: 14px;
    transition: 0.2s;
    display: block;
}
.fbb2-black>li>a:hover{
    text-decoration: underline;
    color: #ffcc33;
}

.fb-box3{
    width: 25%;
    /* background-color: lightcyan; */
}
.fb-box3>ul>li{
    line-height: 30px;
}
.fb-box3>ul>li a{
    font-size: 16px;
    color: #444;
}
.fb-box3>ul>li a:hover{
    text-decoration: underline;
}
.fb-box4{
    width: 25%;
    /* background-color: lightskyblue; */
}
.fbb4-sns{}
.fbb4-sns a img{
    width: 33px;
    height: 33px;
    margin: 0 12px;
}
.fb-box4 address{
    margin-top: 25px;
}
.fb-box4 p{
    font-size: 15px;
    color: #444;
    text-align: right;
    line-height: 30px;
}


@media screen and (max-width:1440px) {
    #header>.container{
        display: none;
    }
    #header>.header-r{
        display: block;
        width: 100%;
        height: 180px;
        /* background-color: orange; */
        padding:  0 30px;
    }
    .header-r-top{
        width: 100%;
        height: 60px;
        /* background-color: yellow; */
    }
    .header-r-bottom{
        width: 100%;
        height: 120px;
        line-height: 120px;
        /* background-color: yellowgreen; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-r-bottom h1 a img{
        display: block;
        padding: 30px 0;
    }
    .header-menu{
        width: 40px;
        height: 40px;
        /* background-color: white; */
        /* margin-top: 35px; */
        transition: 0.3s;
    }
    .hm-line{
        width: 100%;
        height: 5px;
        background-color: #333;
        transition: all 0.3s;
    }    
    .hm-line2{
        margin: 10px 0;
    }   
    .on .hm-line1{
        transform: rotate(-45deg) translate(-11px, 13px);
    }
    .on .hm-line2{
        opacity: 0;
    }
    .on .hm-line3{
        transform: rotate(45deg) translate(-7px, -11px);
    }
    
    .nav-t{
        width: 100%;
        height: calc(100% - 180px);
        height: -webkit-calc(100% - 180px);
        height: -moz-calc(100% - 180px);
        /* background-color: aqua; */
        position: absolute;
        z-index: 3;
        display: none;
        padding: 0 30px;
        transition: 0.3s;
    }
    .Tbg{
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.7); */
        position: absolute;
        z-index: 0;
        left: 0;
    }
    .Tdepth1{
        width: 300px;
        /* background-color: aqua; */
        background-color: #eee;
        position: absolute;
        z-index: 10;
        right: 30px;
        transition: all 0.5s;
        padding: 15px;
        padding-bottom: 40px;
        margin-bottom: 50px;
    }
    .Td-1{
        border-bottom: 3px solid #000;
        width: 100%;
        height: 50px;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
    }
    .Td-1>li{
        float: left;
        line-height: 50px;
    }
    .Td-1>li>a{
        font-size: 15px;
    }
    .td-lang>li{
        margin-left: 20px;
        color: #777;
        line-height: 40px;
    }
    .td-lang>li>a{
        font-size: 15px;
    }
    .td-login{
        display: flex;
    }
    .td-login>li{
        margin-right: 20px;
        line-height: 40px;
    }
    .td-login>li>a{
        font-size: 15px;
    }

    .Td-2{
        padding: 20px;
        border-bottom: 3px solid #000;
    }
    .Td-2>li{
        line-height: 2.5;
        position: relative;
    }
    .Td-2>li:hover>a{
        color: #3F0B9F;
        font-weight: bold;
    }
    .Td-2>li>a{
        font-size: 23px;
    }
    .Td-depth1>li.active>ul{
        display: block;
    }
    .Td-depth1>li:nth-child(2)>ul{
        top: -143px;
    }
    .Td-depth1>li:nth-child(4)>ul{
        top: -258px;
    }
    .Td-depth1>li:nth-child(5)>ul{
        top: -315px;
    }
    .Td-depth1>li:nth-child(6)>ul{
        top: -250px;
    }
    .Td-depth1>li:nth-child(7)>ul{
        top: -270px;
    }
    .Td-depth2{
        position: absolute;
        z-index: 5;
        top: -85px;
        left: -265px;
        transition: 0.5s;
        /* padding-left: 20px; */
        display: none;
    }
    .Td-depth2>li{
        width: 230px;
        line-height: 60px;
        background-color: #222;
        position: relative;
    }
    .Td-depth2>li>a{
        color: #fff;
        font-size: 18px;
        display: block;
        height: 60px;
        padding-left: 20px;
    }
    .Td-depth2>li>a.fs{
        font-size: 16px;
    }
    .Td-depth2>li:hover>a{
        color: #FFCC33;
    }
    .Td-depth3{
        /* position: absolute; */
        /* z-index: 5; */
        padding: 20px;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #444;
        display: none;
    }
    .Td-depth3>li{
        line-height: 40px;

    }
    .Td-depth3>li>a{
        color: #fff;
        font-size: 16px;
        display: block;
        height: 40px;
    }
    .Td-depth3>li:hover>a{
        color: #FFCC33;
    }
    .Td-depth3 .fs{
        font-size: 13px;
    }
    /*  */
    .Td-3{
        padding: 20px;
        border-bottom: 3px solid #000;
    }
    .Td-3>li{
        line-height: 2;
    }
    .Td-3>li:hover>a{
        color: #333;
    }
    .Td-3>li>a{
        font-size: 18px;
        color: #777;
    }
    .Td-4{
        padding: 20px;
    }
    .Td-4>li{
        line-height: 2;
    }
    .Td-4>li>a{
        float: right;
        font-size: 15px;
        display: block;
        padding: 3px 20px;
        border: 2px solid #777;
        border-radius: 10px;
        transition: 0.3s;
    }
    .Td-4>li>a:hover{
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
    }
    .nav-p{
        display: none;
    }

    /* SECTION */
    #section{
        width: 100%;
        margin-top: 0;
    }
    .main-slide{
        width: 100%;
        margin: 0 auto;
    }
    .section1>.container{
        width: 100%;
        padding: 0 30px;
    }
    .section2>.container{
        width: 100%;
        padding: 0 30px;
    }
    .sub-slide-img{
        width: 100%;
        /* height: 200px; */
        position: relative;
    }
    .sub-slide-img img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    /* SECTION3 */
    .section3{
        width: 100%;
        height: auto;
    }
    .section3>.container{
        width: 100%;
        padding: 0 30px;
    }
    /* SECTION4 */
    .section4{
        width: 100%;
        height: auto;
    }
    .section4>.container{
        width: 100%;
        padding: 0 30px;
    }
    /* FOOTER */
    .footer-menu{
        width: 100%;
        height: 900px;
        padding-top: 75px;
        padding-bottom: 60px;
        border: 1px solid #c8c8c8;
        /* background-color: lightpink; */
    }
    .footer-menu>.container{
        width: 100%;
        padding: 0 30px;
    }
    .fm-depth1>li{
        width: 25%;
        float: left;
        height: 400px;
        word-break: keep-all;
    }
    .fm-depth1>li>a{
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom: 20px;
    }
    .fm-depth1>li:last-child{
        margin-left: 0;
    }
    .footer-bottom{
        height: 470px;
    }
    .footer-bottom>.container{
        width: 100%;
        padding: 0 30px;
        display: block;
    }
    .fb-box1{
        width: 50%;
        float: left;
        margin-bottom: 50px;
    }
    .fb-box2{
        width: 50%;
        float: left;
        margin-bottom: 50px;
    }
    .fb-box2>ul>li{
        width: 40%;
        margin-right: 5%;
        float: left;
    }
    .fb-box3{
        width: 50%;
        float: left;
    }
    .fb-box4{
        width: 50%;
        float: left;
    }
    .fb-box4 p{
        text-align: left;
    }
}

@media screen and (max-width:1200px) {
    /* SECtion1 */
    .section1{
        width: 100%;
        height: 630px;
    }
    .section1>.container{
        margin-top: 30px;
        clear: both;
        padding: 0;
    }
    .s1-left{
        width: 100%;
        height: auto;
        /* background-color: lightpink; */
        /* float: left; */
        border-bottom: none;
        padding: 30px;
    }
    .s1L{
        height: auto;
        line-height: normal;
    }
    .s1L:first-child{
        margin-bottom:15px;
    }
    .s1L img{
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: sub;
        margin-right: 10px;
    }
    .s1L h4{
        display: inline-block;
        font-size: 29px;
        font-weight: bold;
    }
    .s1L strong{
        font-size: 23px;
        color: #222;
        font-weight: bold;
        margin: 0;
        margin-right: 15px;
    }
    .s1L span{
        font-size: 23px;
        color: #222;
    }
    .s1L div{
        display: block;
        margin: 25px 0;
    }
    .s1L:nth-child(2){
        margin-top: 60px;
    }

    .s1-right{
        width: 100%;
        height: auto;
        margin-left: 0;
        /* background-color: gold; */
        /* float: right; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #000;
    }
    .s1r a{
        font-size: 35px;
        color: #3F0B9F;
        font-weight: bold;
        transition: all 0.3s;
    }
    /* SECTION3 */
    .s3-left{
        width: 100%;
    }
    .s3-right{
        width: 100%;
        height: auto;
    }
    .s3-right .swiper{
        width: 100%;
        height: auto;
    }
    /* SECTiON4 */
    .s4-left{
        width: 50%;
        float: left;
    }
    .s4-mid{
        width: 46%;
        margin: 0 2%;
        float: left;
    }
    .s4-right{
        width: 100%;
        clear: both;
    }
}

@media screen and (max-width: 1000px) {
    .fb-box1{
        width: 100%;
    }
    .fb-box2{
        width: 100%;
    }
    .fb-box2>ul{}
    .fb-box2>ul>li{}
    .fb-box2>ul>li>a{}
}

@media screen and (max-width: 700px) {
    #header{
        height: 120px;
    }
    .header-r-bottom h1 a img{
        width: 163px;
    }
    #header>.header-r{
        display: block;
        width: 100%;
        height: 120px;
        /* background-color: orange; */
        padding:  0 30px;
    }
    #header>.container{
        display: none;
    }
    .header-r-top{
        display: none;
    }
    .nav-t{
        display: none;
    }
    .nav-p{
        width: 100%;
        /* height: calc(100% - 180px);
        height: -webkit-calc(100% - 180px);
        height: -moz-calc(100% - 180px); */
        height: auto;
        background-color: #fff;
        position: absolute;
        z-index: 3;
        display: none;
        padding: 0 30px;
        padding-bottom: 60px;
        transition: 0.3s;
        top: 120px;
        left: 0;
    }
    .login-p{
        display: flex;
        justify-content: space-between;
        height: 70px;
        /* background-color: aqua; */
    }
    .login-p-left{}
    .login-p-left h3{
        line-height: 70px;
    }
    .login-p-left h3 a{
        font-size: 26px;
        font-weight: bold;
    }
    .login-p-right{
        display: flex;
    }
    .login-p-right h5{
        line-height: 70px;
    }
    .login-p-right h5 a{
        font-size: 19px;
    }
    .login-p-right h5:first-child a{
        margin-right: 20px;
    }
    .login-p-box{
        background-color: #f4f4f4;
        border-top: 1px solid #000;
        padding: 15px 25px;
        margin-bottom: 20px;
        width: 100%;
        height: 145px;
    }
    .login-p-box ul{
        width: 100%;
        height: 100%;
    }
    .login-p-box ul li{
        width: 50%;
        float: left;
        margin-bottom: 15px;
    }
    .login-p-box ul li a{
        display: block;
    }
    .login-p-box ul li a i{
        width: 25px;
        height: 25px;
        display: block;
        float: left;
    }
    .login-p-box ul li a span{
        font-size: 16px;
        margin-left: 10px;
    }
    .login-p-box ul li:first-child a i{
        background: url('../img/ico_m_menu_img1.png') no-repeat center/cover;
    }
    .login-p-box ul li:nth-child(2) a i{
        background: url('../img/ico_m_menu_img2.png') no-repeat center/contain;
    }
    .login-p-box ul li:nth-child(3) a i{
        background: url('../img/ico_m_menu_img3.png') no-repeat center/cover;
    }
    .login-p-box ul li:nth-child(4) a i{
        background: url('../img/ico_m_menu_img4.png') no-repeat center/cover;
    }
    .login-p-box ul li:nth-child(5) a i{
        background: url('../img/ico_m_menu_img5.png') no-repeat center/cover;
    }
    .P-depth1{}
    .P-depth1>li{
        border-bottom: 1px solid #ccc;
        /* position: relative; */
        /* height: 65px; */
        width: 100%;
    }
    .P-depth1>li>a{
        font-size: 22px;
        height: 65px;
        line-height: 65px;
        display: block;
    }
    .P-depth2{
        display: none;
        /* position: absolute; */
        top: 65px;
        width: 100%;
        /* background-color: greenyellow; */
    }
    .P-depth2>li{
        width: 100%;
        /* height: 50px; */
    }
    .P-depth2>li>a{
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        display: block;
    }
    .P-depth3{
        display: none;
    }
    .P-depth3>li{
        /* height: 40px; */
    }
    .P-depth3>li>a{
        font-size: 15px;
        display: block;
        height: 40px;
        line-height: 40px;
        /* background-color: orange; */

    }
    /* SECTION */
    .main-slide .swiper-slide a .main-slide-w{
        display: none;
    }
    .main-slide .swiper-slide a .main-slide-s{
        display: block;
    }

    /* SECtion1 */
    .section1{
        width: 100%;
        height: 550px;
    }
    .section1>.container{
        margin-top: 30px;
        clear: both;
        padding: 0;
    }
    .s1-left{
        width: 100%;
        height: auto;
        /* background-color: lightpink; */
        /* float: left; */
        border-bottom: none;
        padding: 30px;
    }
    .s1L{
        height: auto;
        line-height: normal;
    }
    .s1L:first-child{
        margin-bottom:15px;
    }
    .s1L img{
        width: 26px;
        height: 26px;
        display: inline-block;
        vertical-align: sub;
        margin-right: 10px;
    }
    .s1L h4{
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
    }
    .s1L strong{
        font-size: 18px;
        color: #222;
        font-weight: bold;
        margin: 0;
        margin-right: 15px;
    }
    .s1L span{
        font-size: 18px;
        color: #222;
    }
    .s1L div{
        display: block;
        margin: 20px 0;
    }
    .s1L:nth-child(2){
        margin-top: 60px;
    }

    .s1-right{
        width: 100%;
        height: auto;
        margin-left: 0;
        /* background-color: gold; */
        /* float: right; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #000;
    }
    .s1r{
        border-bottom: 3px solid #3F0B9F;
        display: inline-block;
        padding: 8px 5px 28px 5px;
        margin-top: 50px;
        position: relative;
    }
    .s1r:first-child{
        margin-right: 16px;
    }
    .s1r a{
        font-size: 30px;
        color: #3F0B9F;
        font-weight: bold;
        transition: all 0.3s;
    }
    /* SECTION2 */
    .section2 .section2-top{
        padding-top: 15px;
    }
    .section2 .section2-top h2{
        font-size: 30px;
    }
    /* SECTION3 */
    .s3-top{
        margin-bottom: 25px;
    }
    .s3-top img{
        width: 18px;
        height: 26px;
        display: inline-block;
        vertical-align:text-bottom;
        margin-right: 10px;
    }
    .s3-top h3{
        font-size: 30px;
    }
    .s3-left{
        height: 370px;
        margin-bottom: 40px;
    }
    .s3-tab-nav li a{
        font-size: 18px;
        display: inline-block;
        width: 100%;
        height: 60px;
        color: #666;
        text-align: center;
        line-height: 60px;
    }
    .s3-tab-content div ul li{
        padding: 23px 0;
    }
    .s3-tab-content div ul li span{
        font-size: 14px;
    }
    /* SECTION4 */
    .s4-left{
        width: 100%;
    }
    .s4-left a img{
        margin-bottom: 10px;
    }
    .s4-left a{
        font-size: 20px;
    }
    .s4-mid{
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
    .s4-right{
        width: 100%;
    }
    .s4-imgbox img{
        width: 100%;
    }
    .s4-txtbox{
        margin: 20px 0 0 0;
    }
    .s4-txtbox a{
        font-size: 20px;
    }
    .s4-txtbox span{
        font-size: 14px;
        margin-top: 10px;
        font-weight:400;
    }
    .s4-right{
        margin: 40px 0 50px 0;
    }
    .s4r-txtbox a{
        font-size: 20px;
    }
    .s4r-imgbox{
        height: 220px;
    }
    .s4r-imgbox a img{
        width: 100%;
        height: auto;
    }
    /* FOOTER */
    #footer-wrap{
        border-top: 1px solid #c8c8c8;
        padding: 50px 0;
        height: 850px;
    }
    .footer-menu{
        height: 200px;
        border: 0;
        padding: 0;
    }
    .fm-depth1>li:not(:last-child){
        display: none;
    }
    .fm-depth1>li{
        width: 100%;
        float: left;
        height: auto;
        word-break: keep-all;
    }
    .fm-last>li{
        width: 50%;
        float: left;
    }
    .footer-bottom{
        margin: 20px 0;
    }
    .fb-box1{
        width: 100%;
        margin: 0;
    }
    .fb-box2{
        width: 100%;
        margin-bottom: 30px;
    }
    .fb-box2>ul>li{
        width: 100%;
        margin: 0;
    }
    .fb-box3{
        width: 100%;
        margin-bottom: 30px;
    }
    .fb-box3>ul>li{
        width: 33.333%;
        float: left;
        text-align: center;
    }
    .fb-box3>ul>li>a.none{
        display: none;
    }
    .fb-box4{
        width: 100%;
    }
    .fbb4-sns{
        width: 100%;
        padding: 0 30px;
    }
    .fbb4-sns a{}
    .fbb4-sns a img{
        width: 26px;
        height: 26px;
    }
    .fb-box4 address{}
    .fb-box4 p{}
}